In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_project.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#in the dataset we have words so AI cant categroise so we using ONE HOT ENCODING to categrise words to number.
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
#to pick the columns from the data we use below coding
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
#to crate the model we have to segregate the datasets to independent and dependent to predict the values.
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [6]:
#split train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [7]:
#standard scaler is provide the better results
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [8]:
#once we split and test the data we have to do Model Creation using Grid Adabooster
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
#beloww method we take all the parameter fited into the single model
param_grid = {'n_estimators': [50, 100, 200],'learning_rate': [0.01, 0.1, 1.0]}

#in the below method we fit all the models into the grid.
grid=GridSearchCV(AdaBoostRegressor(),param_grid,refit=True,verbose=3,n_jobs=1)

#fitting the model for grid search
grid.fit(x_train,y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
[CV 1/5] END learning_rate=0.01, n_estimators=50;, score=0.870 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END learning_rate=0.01, n_estimators=50;, score=0.817 total time=   0.1s
[CV 3/5] END learning_rate=0.01, n_estimators=50;, score=0.825 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.01, n_estimators=50;, score=0.843 total time=   0.1s
[CV 5/5] END learning_rate=0.01, n_estimators=50;, score=0.788 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 1/5] END learning_rate=0.01, n_estimators=100;, score=0.864 total time=   0.2s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END learning_rate=0.01, n_estimators=100;, score=0.817 total time=   0.2s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 3/5] END learning_rate=0.01, n_estimators=100;, score=0.824 total time=   0.2s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.01, n_estimators=100;, score=0.845 total time=   0.2s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 5/5] END learning_rate=0.01, n_estimators=100;, score=0.796 total time=   0.3s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 1/5] END learning_rate=0.01, n_estimators=200;, score=0.855 total time=   0.5s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END learning_rate=0.01, n_estimators=200;, score=0.808 total time=   0.5s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 3/5] END learning_rate=0.01, n_estimators=200;, score=0.822 total time=   0.5s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.01, n_estimators=200;, score=0.839 total time=   0.5s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 5/5] END learning_rate=0.01, n_estimators=200;, score=0.792 total time=   0.5s
[CV 1/5] END learning_rate=0.1, n_estimators=50;, score=0.826 total time=   0.0s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END learning_rate=0.1, n_estimators=50;, score=0.780 total time=   0.1s
[CV 3/5] END learning_rate=0.1, n_estimators=50;, score=0.810 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.1, n_estimators=50;, score=0.827 total time=   0.1s
[CV 5/5] END learning_rate=0.1, n_estimators=50;, score=0.791 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 1/5] END learning_rate=0.1, n_estimators=100;, score=0.824 total time=   0.1s
[CV 2/5] END learning_rate=0.1, n_estimators=100;, score=0.771 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 3/5] END learning_rate=0.1, n_estimators=100;, score=0.806 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.1, n_estimators=100;, score=0.815 total time=   0.1s
[CV 5/5] END learning_rate=0.1, n_estimators=100;, score=0.790 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 1/5] END learning_rate=0.1, n_estimators=200;, score=0.812 total time=   0.2s
[CV 2/5] END learning_rate=0.1, n_estimators=200;, score=0.783 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 3/5] END learning_rate=0.1, n_estimators=200;, score=0.808 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 4/5] END learning_rate=0.1, n_estimators=200;, score=0.818 total time=   0.1s
[CV 5/5] END learning_rate=0.1, n_estimators=200;, score=0.789 total time=   0.1s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 1/5] END learning_rate=1.0, n_estimators=50;, score=0.817 total time=   0.0s
[CV 2/5] END learning_rate=1.0, n_estimators=50;, score=0.752 total time=   0.0s
[CV 3/5] END learning_rate=1.0, n_estimators=50;, score=0.809 total time=   0.0s
[CV 4/5] END learning_rate=1.0, n_estimators=50;, score=0.786 total time=   0.0s
[CV 5/5] END learning_rate=1.0, n_estimators=50;, score=0.787 total time=   0.0s
[CV 1/5] END learning_rate=1.0, n_estimators=100;, score=0.828 total time=   0.0s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 2/5] END learning_rate=1.0, n_estimators=100;, score=0.768 total time=   0.0s
[CV 3/5] END learning_rate=1.0, n_estimators=100;, score=0.817 total time=   0.0s
[CV 4/5] END learning_rate=1.0, n_estimators=100;, score=0.813 total time=   0.0s
[CV 5/5] END learning_rate=1.0, n_estimators=100;, score=0.786 total time=   0.0s
[CV 1/5] END learning_rate=1.0, n_estimators=200;, score=0.727 total time=   0.0s
[CV 2/5] END learning_rate=1.0, n_estimators=200;, score=0.744 total time=   0.0s

C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\DIKSHA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[CV 3/5] END learning_rate=1.0, n_estimators=200;, score=0.800 total time=   0.0s
[CV 4/5] END learning_rate=1.0, n_estimators=200;, score=0.790 total time=   0.0s
[CV 5/5] END learning_rate=1.0, n_estimators=200;, score=0.785 total time=   0.0s

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=1,
             param_grid={'learning_rate': [0.01, 0.1, 1.0],
                         'n_estimators': [50, 100, 200]},
             verbose=3)

In [9]:
#Print best parmeter after creating the model
re=grid.cv_results_
print("the R_score value for the best prameter{}:".format(grid.best_params_))

the R_score value for the best prameter{'learning_rate': 0.01, 'n_estimators': 100}:

In [10]:
#to create the table
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_learning_rate,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.153247,0.011283,0.013797,0.000756,0.01,50,"{'learning_rate': 0.01, 'n_estimators': 50}",0.870294,0.816740,0.824655,0.843484,0.787607,0.828556,0.027556,2
1,0.303938,0.017803,0.023785,0.002134,0.01,100,"{'learning_rate': 0.01, 'n_estimators': 100}",0.864454,0.817096,0.824074,0.844914,0.795963,0.829300,0.023525,1
2,0.575177,0.012900,0.044973,0.003576,0.01,200,"{'learning_rate': 0.01, 'n_estimators': 200}",0.855016,0.807557,0.822406,0.838707,0.792341,0.823206,0.022137,3
3,0.145110,0.010791,0.015792,0.002639,0.1,50,"{'learning_rate': 0.1, 'n_estimators': 50}",0.826038,0.779637,0.810455,0.826730,0.790900,0.806752,0.018822,4
4,0.199878,0.016396,0.019188,0.004164,0.1,100,"{'learning_rate': 0.1, 'n_estimators': 100}",0.824268,0.770702,0.806140,0.814914,0.789998,0.801204,0.018975,7
5,0.199478,0.036008,0.020786,0.007189,0.1,200,"{'learning_rate': 0.1, 'n_estimators': 200}",0.812340,0.782770,0.808242,0.817611,0.789138,0.802020,0.013600,6
6,0.034501,0.011841,0.005797,0.000749,1,50,"{'learning_rate': 1.0, 'n_estimators': 50}",0.817098,0.752365,0.809117,0.786420,0.787459,0.790492,0.022513,8
7,0.031812,0.004255,0.005997,0.000895,1,100,"{'learning_rate': 1.0, 'n_estimators': 100}",0.827700,0.767630,0.817318,0.812799,0.786208,0.802331,0.022099,5
8,0.030766,0.003392,0.005798,0.000397,1,200,"{'learning_rate': 1.0, 'n_estimators': 200}",0.726716,0.744334,0.800144,0.789521,0.784536,0.769050,0.028386,9

In [11]:
#Once model creted we have test the data 
age_input=float(input("AGE:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_input=int(input("Smoker yes 0 or 1:"))

AGE:25
BMI:37
Children:1
Sex Male 0 or 1:0
Smoker yes 0 or 1:1

In [12]:
#once we provide the value the model will predict the results
Future_Prediction = grid.predict([[age_input, bmi_input, children_input, sex_male_input, smoker_input]])
print("Future_Prediction = {}".format(Future_Prediction))

Future_Prediction = [45878.37164894]